.container {
  width: 80%;
  margin: 0 auto;
}
.calc_body {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  border: 2px solid #1f2226;
}
.calc_body button {
  padding: 10px;
  margin: 10px;
}
#result {
  height: 50px;
  width: 100%;
  border: 2px solid #1f2226;
}
